DATABASE_URL=
GEMINI_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
IGOT_API_BASE_URL=
IGOT_API_KEY=
IGOT_INTEGRATION_MODE=mock

NSSTA_API_BASE_URL=
NSSTA_API_KEY=
NSSTA_INTEGRATION_MODE=mock

TPAC_API_BASE_URL=
TPAC_API_KEY=
TPAC_INTEGRATION_MODE=mock
